*{margin: 0; padding: 0;} 
body,html {
	height: 100%;
	width: 100%
}
body {
	background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
}
a.btn {
	border-radius: 30px;
}
img.logo {
	width: 30px;
	height: 30px;
	position: relative;
	top: -5px;
}
img.logo2 {
	width: 40px;
	height: 40px;
	position: relative;
	top: -5px;
}
.slogan .khoibanner {
	color: white!important;
	padding-top: 250px;
}
@media (max-width: 575px){

.top nav.mauden {
	background: rgba(0, 0, 0, 0.562);}
	a.navbar-brand {
		display: none;
	}
	body {
		background-attachment: fixed;
	}

}
@media (max-width: 815px) {
	.navbar-toggleable-xs .navbar-brand {display: none;
}
body {
		background-attachment: fixed;
	}
}
